{#レイアウト継承#}
{% extends "layout/layout.twig" %}

{# タイトル #}
{% block title %} 配布するソフトウェアについて {% endblock %}

{# スタイルシートの追加 #}
{% block header_scripts_add %}
{% endblock %}

{# ページ本文 #}
{% block page_content %}
	<div class="jumbotron">
		<h2 class="text-center">
			配布するソフトウェアについて
		</h2>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">操作環境について</h3>
	</div>
	<div class="container p-5">
		<p>
			当サイトで配布するソフトウェアの動作には以下の環境が必要です。
		</p>
		<p>
			os: windows10以上<br>
			画面を目視確認する場合はHDサイズ(横1280、縦720ドット)以上の表示領域<br>
			スクリーンリーダーを使用する場合はpcから音がでる環境<br>
		</p>
		<p>
			また以下のスクリーンリーダーにて読み上げ確認を行っております。
		</p>
		<p>
			,pc-talker
			,NVDA
			,jaws
		</p>
	</div>

	<div class="d-flex align-items-center  text-white bg-primary px-3">
		<h3 class="h2 my-0">再配布について</h3>
	</div>
	<div class="container p-5">
		<p>
			当サイトのソフトウェアはGPLなどの自由ソフトウェア・ライセンスの下でオープンソースで配布されています。
			再配布については特に制限を設けてはおりませんがご一報いただけると幸いです。
		</p>
	</div>
{% endblock %}

{# フッダ以降に追加する内容 #}
{% block footer_scripts_add %}
{% endblock %}
